.RealtorContainer {
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.SearchBar {
  width: 100%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

th {
    margin-top: 1.5em;
}
/*
tr:nth-child(even) {
  background-color: #f0f0f0;   
}
*/
tr:hover {
  cursor: pointer;
}

.PaginationContainer {
  width: 100%;
}

.Pagination {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.NoResults {
  text-align: center;
  font-weight: 700;
}

.DetailName {
  text-align: left;
}

.Underline:hover {
  text-decoration-line: underline;
}

.Spacer {
  font-weight: 700;
  width: 50px;
}

.Listing {
  border: 1px solid #AAAAAA;
  border-radius: 12px;
  margin-bottom: 3em;
  padding: 1em 1em;
}

.Star {
  font-size: 6em;
}

img.resize {
  width: 80px;
  height: 80px;
}
