.Table {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.SearchBar {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

th {
    text-align: center;
    background-color: #61DAFB;
    cursor: default;
}

tr:nth-child(even) {
  background-color: #f0f0f0;   
}

tr:hover {
  background-color: #61DAFB;
  cursor: pointer;
}

